body{
    color: #333;
    background-color: #fff;
    margin: 0px;
}
.nav1{
    
    display: flex;
    position: relative;
    background-color: #15171C;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 100%;
    transition: 0.5s ease;
}
.logo{
    display: flex;
    position: relative;
    right: 170px;
}
.logo > a{
    box-sizing: border-box;
    position: relative;
    top: 0px;
    left: 0px;
    border: 0px;
    z-index: 1;
    overflow-clip-margin: content-box;
    overflow: clip;

}
.logo > .bgimg > img{
    opacity: 1;
    vertical-align: middle;
    width: 120px;
    position: relative;
    height: 31.0078px;
    
}

.nav1 > div > a{
    text-decoration: none;
}
.btn >{
    display: flex;
    justify-content: center;
    position: relative;
    left: 180;
    
}
.nav1 > .btn > a > .btn1{
    position: relative;
    left: 147px;
    background-color: transparent;
    display: block;
    font-size: 14px;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.75);
    letter-spacing: 0px;
    line-height: 22px;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 18px;
    border: 2px solid rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 22px;
    padding: 6px 12px 6px 12px;
}
.nav1 > .btn > a > .btn1:hover{
    cursor: pointer;
    border-color: rgba(255, 255, 255, 0.42);
    
}
.items{
    display: block;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.75);
    letter-spacing: 0px;
    line-height: 22px;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 18px;
    padding: 15.5px;
    
}
.items:hover{
    color: rgba(255, 255, 255, 0.99);
}
.items:focus{
    border-bottom: 2px solid #fff;
} 
.img1 > a > img{
    display: flex;
    max-width: 100%;
    position: relative;
    height: 25.989px;
    left: 162px;
    justify-content: center;
    border: solid 2px transparent;
    border-radius: 22px;
    padding: 6px 6px 6px 6px;
}
.img1 a img:hover{
    background-color: rgba(169, 165, 165, 0.25);
}
.img2 > a > img{
    display: flex;
    width: 21.703;
    position: relative;
    height: 23.986px;
    left: 170px;
    justify-content: center;
    border: solid 2px transparent;
    border-radius: 22px;
    padding: 6px 7px 6px 6px;
}
.img2 a img:hover{
    background-color: rgba(169, 165, 165, 0.25);
}
.loc{
    display: flex;
    position: relative;
    left: 155px;
    cursor: pointer;
    border-radius: 5px;
    padding-right: 6px;
    padding-left: 6px;
}
.loc > .loc_txt{
    /* display: flex; */
    justify-content: center;
    vertical-align: middle;
    max-width: 70px;
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255 255 255 / 60%);
    letter-spacing: 0.5px;
    line-height: 22px;
    margin-right: 10px;
    margin-top: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    padding: 7px 9px;
    border-radius: 5px;
    transition: all 100ms ease;
}

.loc > .loc_symb > img{
    width: 25.989px;
    height: 25.989px;
    display: flex;
    padding: 7px 0px;
    border-radius: 5px;
    transition: all 100ms ease;
}
.loc:hover{
    background-color: rgba(169, 165, 165, 0.25);
}
.nav2{
    background-color: #393A3B;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    transition: 0.5s ease;
    position: relative;
}
.nav2 > div > a{
    text-decoration: none;
    -ms-flex-align: center;
    width: fit-content;
    height: fit-content;
    margin: 0px 20px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    padding: 6px 20px;
    opacity: 0.7;
    letter-spacing: 0px;
    line-height: 24px;
    font-size: 16px;
}
.nav2 > div > a:hover{
    color: #fff;
    opacity: 0.85;
}
.container{
    background-image: url("./Images/fitness.jpg");
    background-size: cover;
    opacity: 1;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-color: #fff;
}
.pass{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 50px;
    transform-style: preserve-3d;
    opacity: 1;
    margin-left: 159.518px;
    margin-right: 153.518px;

}
.pass > .cont{
    display: flex;
    flex-direction: column;
    margin-top: 448px;
    text-align: center;
    border: 1px solid rgb(255 255 255 / 20%);
    border-radius: 7px;
    flex-basis: 30%;
    line-height: 1.43px;
    background-color: rgba(20, 17, 31, 0.981);
    height: 136.81px;
    margin-right:2.5% ;
    justify-content: center;
    transition: all 300ms ease;

}
.pass > .cont:hover{
    cursor: pointer;
    background-color: rgba(69, 63, 92, 0.259);
    
}
.im1 > img{
    height: 27px;
    width: 106px;
}
.elite > .im2 > img{
    height: 20px;
    width: 107px;
    margin-top: 8px;

}
.pro > .im2 > img{
    width: 78px;
    aspect-ratio: auto 78 / 29.6578;
    height: 20px;
    margin-top: 8px;
}
.home > .im2 > img{
    width: 112px;
    aspect-ratio: auto 78 / 29.6578;
    height: 20px;
    margin-top: 8px;
}
.cont > .txt_p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255 255 255 / 80%);
    line-height: 24px;
    text-align: center;
    margin-top: 15px;
    

}

